/*

Tooplate 2122 Nano Folio

https://www.tooplate.com/view/2122-nano-folio

*/

/* 폰트 굵기 적용 안 됨 */
/* @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} */

html { overflow-x: hidden; }


.container-fluid {
    font-weight:800;
}

.card-list {
    display: flex;
    justify-content: center;
    margin-top:0 20px;
}

.card {
    margin-right: 20px;
}

.name {
    text-align:center;
    background-color: rgb(248, 248, 248);
    padding:80px;
    font-family : 'Pretendard-Regular';
    font-weight:800;
}

.container {
    padding-top:40px;
}

.m1{
    font-size:100%;
}

.m2 {
    font-size: 250%;
    font-weight: 800;
}

.box1 {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 2em;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: #38CCCC;
}

a:hover { color: #30ADAD; }

.cardlist{
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}


.tm-p-50 { padding: 50px; }
.tm-mb-0 { margin-bottom: 0; }
.tm-mb-30 { margin-bottom: 30px }
.tm-mb-40 { margin-bottom: 40px; }
.tm-mb-50 { margin-bottom: 50px; }
.tm-mb-80 { margin-bottom: 80px; }
.tm-bgcolor-1 { background-color: #F96699; }
.tm-bgcolor-2 { background-color: #38CCCC; }
.tm-bgcolor-3 { background-color: #99CCCC; }
.tm-border-rounded { border-radius: 15px; }


